* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

nav {
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(255, 253, 253, 1) 81%, rgba(228, 227, 227, 1) 100%, rgba(229, 229, 229, 1) 100%);
    display: flex;
    justify-content: space-between;
}

nav li {
    font-size: 0.9em;
    text-align: center;
    padding: 4em 1em;
    width: 10vw;
}

nav li:hover {
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    cursor: pointer;
    transition: 400ms;
}

.flex {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.list-type {
    list-style: none;
}

.header-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 3em;
}

.color-blue {
    color: #8B9DC3;
}

.nav-name {
    font-size: 1.1em;
    font-weight: lighter;
}

.bold {
    font-weight: bold;
    font-size: 1.3em;
}

.square {
    background-color: #736c5a;
    width: 0.8em;
    height: 0.8em;
    margin-right: 0.5em;
}