* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand'
}

body section {
    height: 100vh;
}

a{
    text-decoration: none;
    color: black;
    width: auto;
}

nav {
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(255, 253, 253, 1) 81%, rgba(228, 227, 227, 1) 100%, rgba(229, 229, 229, 1) 100%);
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0;
    width: 100%;
}

nav li {
    font-size: 0.9em;
    text-align: center;
    padding: 4vh 1vw;
    width: 10vw;
}

nav li:hover {
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    cursor: pointer;
    transition: 400ms;
}

p {
    cursor: default;
}

.flex {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.flex2 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 1vw;
}


.list-type {
    list-style: none;
}

.header-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 3em;
}

.color-blue {
    color: #6298fc;
}

.nav-name {
    font-size: 1.1em;
    font-weight: lighter;
}

.bold {
    font-weight: bold;
    font-size: 1.3em;
}

.square {
    background-color: #736c5a;
    width: 0.8em;
    height: 0.8em;
    margin-right: 0.5em;
}

.background-section1 {
    background-color: #e6dace;
    width: 42%;
    height: 100vh;
}

.bottomDiv {
    display: flex;
    position: relative;
    bottom: 75vh;
    left: 25vw;
    height: 30vw;
    width: 75vw;
}

.bottomDiv1 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50vh;
    width: 21vw;
    background-color: #f5ece6;
    box-shadow: -11px 10px 22px -12px rgba(0, 0, 0, 0.75);
}

.profile-picture {
    margin-top: 2vw;
    margin-bottom: 2vw;
    width: 50%;
    height: 180px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: -11px 10px 22px -12px rgba(0, 0, 0, 0.75)
}

.profilepic-name {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}

.profilepic-role {
    font-size: 1.5em;
    font-weight: lighter;
    text-align: center;
    margin-top: 1vw;
    letter-spacing: 0.30vw;
}

.rss-logos {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    bottom: 0;
    background-color: white;
    height: 4vw;
    width: 100%;
    padding-left: 2vw;
    padding-right: 2vw;
}

.rss-logos a{
    width: 7.5%;
}

.icon-rss {
    width: 100%;
    /* padding-right: 0.35vw; */
    /* padding-left: 0.35vw; */

}

.rss-logos a:hover {
    transition: 400ms;
    /* border-radius: 50%; */
    width: 15%;
    padding: 0vw;
    cursor: pointer;
}

hr {
    background-color: #6298fc;
    width: 20%;
    margin-top: 1vw;
    padding-top: 0.05vw;
}

.hidden {
    display: none;
}

.navbaricon-container {
    position: absolute;
    left: 50%;
    top: 0%;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-baricon {
    height: 100%;
    width: fit-content;
    cursor: pointer;
}

.nav-baricon1 {
    height: 100%;
    width: fit-content;
    position: inherit;
    top: 20%;
    cursor: pointer;
}

.bottomDiv2 {
    width: 40vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    padding-left: 2vw;
    padding-right: 2vw;
}

.hello-title {
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 6em;
}

.resume-button {
    color: white;
    background-color: #6298fc;
    width: 7vw;
    height: 3vh;
    border: 0px;
    border-radius: 25px;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
}
.projects-button {
    background-color: white;
    width: 7vw;
    height: 3vh;
    border: 1px solid black;
    border-radius: 25px;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
}

.shake {
    animation: shake 600ms infinite;
}

.slideIn {
    animation: slideIn 500ms;
}

.slideOut {
    animation: slideOut 500ms;
}

.click {
    animation: click 200ms;
}

@keyframes click {
    0% {
        transform: translateX(0) translateY(0);

    }

    50% {
        transform: translateY(0.25vh);

    }

    100% {
        transform: translateX(0) translateY(0);
    }
}

@keyframes shake {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(1vh);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes slideIn {
    from {
        transform: translateY(-200px);
    }

    to {
        transform: translateY(0px);
    }
}

@keyframes slideOut {
    from {
        transform: translateY(0px);
    }

    to {
        transform: translateY(-200px);
    }
}