* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

nav {
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(255, 253, 253, 1) 81%, rgba(228, 227, 227, 1) 100%, rgba(229, 229, 229, 1) 100%);
    display: flex;
    justify-content: space-between;
}

nav li {
    font-size: 0.9em;
    text-align: center;
    padding: 4em 1em;
    width: 10vw;
}

nav li:hover {
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    cursor: pointer;
    transition: 400ms;
}

.flex {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.list-type {
    list-style: none;
}

.header-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 3em;
}

.color-blue {
    color: #6298fc;
}

.nav-name {
    font-size: 1.1em;
    font-weight: lighter;
}

.bold {
    font-weight: bold;
    font-size: 1.3em;
}

.square {
    background-color: #736c5a;
    width: 0.8em;
    height: 0.8em;
    margin-right: 0.5em;
}

.background-section1 {
    background-color: #e6dace;
    width: 42%;
    height: 50vw;
}

.bottomDiv {
    display: flex;
    position: relative;
    bottom: 40vw;
    left: 25vw;
    height: 30vw;
    width: 55vw;
}

.bottomDiv1 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 40%;
    background-color: #f5ece6;
    -webkit-box-shadow: -11px 10px 22px -12px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -11px 10px 22px -12px rgba(0, 0, 0, 0.75);
}

.profile-picture {
    margin-top: 2vw;
    margin-bottom: 1vw;
    width: 50%;
    height: fit-content;
    border-radius: 50%;
    /* -webkit-box-shadow: -11px 10px 22px -12px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -11px 10px 22px -12px rgba(0, 0, 0, 0.75);
    box-shadow: -11px 10px 22px -12px rgba(0, 0, 0, 0.75);*/
}

.profilepic-name {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}

.profilepic-role {
    font-size: 1.5em;
    font-weight: lighter;
    text-align: center;
    margin-top: 2vw;
    letter-spacing: 0.30vw;
}

.rss-logos {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    bottom: 0;
    background-color: white;
    height: 4vw;
    width: 100%;
    padding-left: 1vw;
    padding-right: 1vw;
}

.icon-rss {
    width: 10%;
    height: fit-content;
}

.icon-rss:hover {
    cursor: pointer;
}

hr {
    background-color: #6298fc;
    width: 20%;
    margin-top: 1vw;
    padding-top: 0.05vw;
}